<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title text-primary">{{data.name}}</h5>
        <i class="fa fa-times-circle text-danger close-pos cursor-pointer" (click)="close()"></i>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <img id="image" class="w-100">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary btn-style text-uppercase border-0" (click)="upsert()">Save
            Changes</button>
        <button type="button" class="btn btn-outline-warning text-warning text-uppercase"
            (click)="close()">Cancel</button> -->
    </div>
</div>